h1{
    font-size: 80px;
    font-weight: 900;
    text-decoration:none solid rgb(24, 26, 27);
    color: black;
    
}
p{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
}
button{
    padding: 30px 80px;
    font-size: 13px;
    font-weight: 400;
    background-color: blue;
    color: aliceblue;
    

}
button:hover{
    background-color: RGB(55, 92, 55);
}